<nav class="navbar navbar-expand-lg navbar-dark bg-dark bg-gradient">
  <div class="container d-flex justify-content-center justify-content-sm-between">
    <a class="navbar-brand" href="#">Curious Fun</a>
    <div class="" id="navbarSupportedContent">
      <form class="d-flex" action="/post" method="get">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          name="searchQuery"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
